@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins:wght@600&display=swap');

#custom-search {
    width: 100%;
	font-family: 'Libre Franklin', sans-serif;
}

#custom-search form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
	border: 1px solid #be1823;
    box-shadow: 0 4px 8px rgba(190, 24, 35, 0.2);
    border-radius: 10px;
    font-size: 16px;
}

#category-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
}

#category-checkboxes {
	accent-color: #be1823;
	margin-bottom: 20px;
}

#category-checkboxes label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 185px;
    color: #000;
    padding: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#category-checkboxes img {
    margin-top: 5px; 
    width: auto; 
    height: 80px; 
}

#category-checkboxes input[type="checkbox"] {
    margin-bottom: 5px;
}

#custom-search input[type="text"] {
	min-width: 300px;
}

#custom-search input[type="text"],
#custom-search select,
#custom-search button {
    padding: 10px 0 10px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
    width: 100%;
}

#custom-search input[type="text"]:focus,
#custom-search select:focus {
	border: 1px solid #be1823;
	outline: none;
}

#custom-search button {
    background-color: #189347;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    width: 102%;
    margin-top: 10px;
}

#custom-search button:hover {
    opacity: 0.8;
}

#search-results {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    row-gap: 80px;
    justify-content: center;
    column-gap: 20px;
}

.search-result-item p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px; 
    text-align: center;
	font-family: 'Poppins', sans-serif;
}

.search-result-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 170px;
    height: 100%;
    padding-bottom: 60px;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(190, 24, 35, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    align-items: center;
    text-align: center;
}


.search-result-item .icon-container {
    position: absolute;
    bottom: 10px; 
    left: 0;
    right: 0;
    margin-top: auto;
    width: 100%;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
}

.search-result-item .icon-container img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.search-result-item .icon-container img:first-child {
    margin-left: 10px;
}

.search-result-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 10px rgba(0,0,0,0.15);
}

.search-result-item img {
    width: auto;
    height: auto;
    border-radius: 8px;
    max-width: 100%;
}

.alert {
    width: 95%;
    padding: 0 20px;
    background-color: #be1823;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    display: none; 
}

.alert.success {background-color: #4CAF50;} 
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;} 

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#pagination-container {
    display: none;
	text-align: center;
}

#pagination-container.active {
    display: block; 
}

.pagination-link {
    margin: 0 5px;
    text-decoration: none;
    color: #be1823;
	font-weight: bold;
}

.pagination-link:hover {
    color: #940000;
	cursor: pointer;
}

.pagination-link.active {
    color: #940000; 
}

#tag-select-container {
    width: 100%;
}

#tag-select-container input[type="checkbox"] {
    margin-bottom: 5px;
    accent-color: #be1823;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0 40px 0;
    overflow: hidden; 
}

.separator::before,
.separator::after {
    content: '';
    flex-grow: 1; 
    border-bottom: 1px solid #940000;
    margin: 0 10px; 
}

.separator span {
    white-space: nowrap; 
    padding: 0 10px; 
}

.tag-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.tag-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.tag-image {
    width: 80px; 
    height: 80px; 
    margin-top: 5px; 
    display: block;
}

@media only screen and (max-width: 1024px) {
	
	#pagination-container {
        display: none !important;
    }
	
	#custom-search {
		min-width: 300px !important;
	}

    #custom-search form {
        padding: 10px !important;
        margin: 10px auto !important;
        font-size: 25px;
    }

    #custom-search-form fieldset {
        display: flex;
        flex-direction: column;
    }
	
	#custom-search input[type="text"] {
		min-width: 150px;
	}

    #custom-search input[type="text"], #custom-search select, #custom-search button, #custom-search-form fieldset label {
        margin-bottom: 10px;
    }

    #category-checkboxes label {
        padding: 0; 
		margin-bottom: 0 !important;
        width: 100%;
    }

    #search-results {
        grid-template-columns: 1fr;
    }
	
	.search-result-item {
        flex-basis: 100%;
    }

    #category-checkboxes {
		margin-bottom: 20px;
		font-size: 20px;
    }

    .search-result-item p {
        font-size: 16px; 
    }
	
	#alert-msg {
		font-size: 20px;
	}

    .separator {
        font-size: 16px;
    }
}

